{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>{% trans 'Statuses' %}</h1>
            <a class="btn btn-primary" href="{% url 'status_create' %}">{% trans 'Create status' %}</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">{% trans 'Name' %}</th>
                        <th scope="col">{% trans 'Creation date' %}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in statuses %}
                    <tr scope="row">
                        <td>{{ status.id }}</td>
                        <td>{{ status.name }}</td>
                        <td>{{ status.created_at }}</td>
                        <td>
                            <p><a href="{% url 'status_update' status.id %}">{% trans 'Update' %}</a></p>
                            <p><a href="{% url 'status_delete' status.id %}">{% trans 'Delete' %}</a></p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}