{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}TMbf Users list{% endblock %}

{% block content %}
<h1>Пользователи</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Полное имя</th>
            <th scope="col">Дата создания</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% for user in users %}
    <tbody>
        <tr scope="row">
            <td>{{ user.user_id }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.name }} {{ user.surname }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <div><p><a href="#">Изменить</a></p></div>
                <div><p><a href="#">Удалить</a></p></div>
            </td>
        </tr>
    </tbody>
</table>
{% endfor %}
{% endblock %}