{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}TMbf Delete Label{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Удаление метки</h1>
            <form action="{% url 'label_delete' label.id %}" method="post">
                {% csrf_token %}
                <p class="mb-3">Вы уверены, что хотите удалить метку {{ label.name }}?</p>
                <button type="submit" class="btn btn-danger">Да, удалить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
