{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}TMbf Labels list{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Метки</h1>
            <a class="btn btn-primary" href="{% url 'label_create' %}">Создать метку</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
            {% for label in labels %}
                    <tr scope="row">
                        <td>{{ label.id }}</td>
                        <td>{{ label.name }}</td>
                        <td>{{ label.created_at }}</td>
                        <td>
                            <p><a href="{% url 'label_update' label.id %}">Изменить</a></p>
                            <p><a href="{% url 'label_delete' label.id %}">Удалить</a></p>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}