{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>{% trans 'Create task' %}</h1>
            <form action="{% url 'task_create' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content=_('Create') %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
