{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>{% trans 'Delete task' %}</h1>
            <form action="{% url 'task_delete' task.id %}" method="post">
                {% csrf_token %}
                <p class="mb-3">
                    {% blocktrans with name=task.name %}
                        Are you sure you want to delete task {{ name }}?
                    {% endblocktrans %}</p>
                <button type="submit" class="btn btn-danger">{% trans 'Confirm deletion' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
