{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1>{% trans 'Task details' %}</h1>  
    <div class="card text-bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Name' %}: {{ task.name }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{% trans 'Description' %}: {{ task.description }}</h6>
            <hr>
            <div class="container text-left">
                <div class="row">
                    <div class="col">{% trans 'Creator' %}</div>
                    <div class="col">{{ task.creator.get_full_name }}</div>
                </div>
                <div class="row">
                    <div class="col">{% trans 'Executor' %}</div>
                    <div class="col">{{ task.executor.get_full_name }}</div>
                </div>
                <div class="row">
                    <div class="col">{% trans 'Status' %}</div>
                    <div class="col">{{ task.status.name }}</div>
                </div>
                <div class="row">
                    <div class="col">{% trans 'Creation date' %}</div>
                    <div class="col">{{ task.created_at }}</div>
                </div>
                <div class="row">
                    <div class="col">
                        {% trans 'Labels' %}
                        <ul>
                            {% for label in task.labels.all %}
                                <li>{{ label.name }}</li>
                            {% empty %}
                                <li>{% trans 'No label set' %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'task_update' task.id %}">{% trans 'Update' %}</a>
                        <br>
                        <a href="{% url 'task_delete' task.id %}">{% trans 'Delete' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
