{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <form method="get" class="mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <label for="{{ filter.form.executor.id_for_label }}">
                            {% trans 'Executor' %}
                        </label>
                        {{ filter.form.executor }}
                    </div>
                    <div class="col-md-3">
                        <label for="{{ filter.form.status.id_for_label }}">
                            {% trans 'Status' %}
                        </label>
                        {{ filter.form.status }}
                    </div>
                    <div class="col-md-3">
                        <label for="{{ filter.form.labels.id_for_label }}">
                            {% trans 'Label' %}
                        </label>
                        {{ filter.form.labels }}
                    </div>
                    <div class="form-check">
                        {{ filter.form.tasks_by_me }}
                        <label class="form-check-label" for="{{ filter.form.tasks_by_me.id_for_label }}">
                            {% trans "I'm task creator" %}
                        </label>
                    </div>
                    <div class="form-check">
                        {{ filter.form.tasks_for_me }}
                        <label class="form-check-label" for="{{ filter.form.tasks_for_me.id_for_label }}">
                            {% trans "I'm task executor" %}
                        </label>
                    </div>
                    <div class="col-md-3 d-flex align-items-end gap-2">
                        <button type="submit" class="btn btn-primary">{% trans 'Apply' %}</button>
                        <a href="{% url 'task_list' %}" class="btn btn-outline-secondary">{% trans 'Reset' %}</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>{% trans 'Tasks' %}</h1>
            <a class="btn btn-primary" href="{% url 'task_create' %}">{% trans 'Create task' %}</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">{% trans 'Name' %}</th>
                        <th scope="col">{% trans 'Status' %}</th>
                        <th scope="col">{% trans 'Creator' %}</th>
                        <th scope="col">{% trans 'Executor' %}</th>
                        <th scope="col">{% trans 'Creation date' %}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr scope="row">
                        <td>{{ task.id }}</td>
                        <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                        <td>{{ task.status.name }}</td>
                        <td>{{ task.creator }}</td>
                        <td>{{ task.executor.get_full_name }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>
                            <a href="{% url 'task_update' task.id %}">{% trans 'Update' %}</a>
                            <br>
                            <a href="{% url 'task_delete' task.id %}">{% trans 'Delete' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}