{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}TMbf{% endblock %}

{% block content %}
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            FUTURE FILTER CONTAINER
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Задачи</h1>
            <a class="btn btn-primary" href="{% url 'task_create' %}">Создать задачу</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Исполнитель</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr scope="row">
                        <td>{{ task.id }}</td>
                        <td><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                        <td>{{ task.status.name }}</td>
                        <td>{{ task.creator }}</td>
                        <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>
                            <p><a href="{% url 'task_update' task.id %}">Изменить</a></p>
                            <p><a href="{% url 'task_delete' task.id %}">Удалить</a></p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}