{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>{% trans 'Registration' %}</h1>
            <form method="post" class="form">
                {% csrf_token %}
                
                {% bootstrap_field form.first_name %}
                {% bootstrap_field form.last_name %}
                {% bootstrap_field form.username %}
                {% bootstrap_field form.password1 %}
                {% bootstrap_field form.password2 %}

                {% bootstrap_button button_type="submit" content=_('Register') %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
