{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}TMbf Delete User{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Удаление пользователя</h1>
            <form action="{% url 'user_delete' user.id %}" method="post">
                {% csrf_token %}
                <p class="mb-3">Вы уверены, что хотите удалить {{ user.first_name }} {{ user.last_name }}?</p>
                <button type="submit" class="btn btn-danger">Да, удалить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
