{% load i18n %}

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    
    {% get_current_language as LANGUAGE_CODE %}
    
    {% if LANGUAGE_CODE == 'en' %}
        <input name="language" type="hidden" value="ru">
        <input type="submit" class="btn btn-outline-primary" value="Сменить язык">
    {% else %}
        <input name="language" type="hidden" value="en">
        <input type="submit" class="btn btn-outline-primary" value="Switch language">
    {% endif %}
</form>